# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!**/src/main/**
!**/src/test/**
build/
out/
bin/
.gradle/
local.properties
*.env
*.envrc
*.ver
*.DS_Store
*.swp
*.jks
*.env.dev

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### NetBeans ###
.insomnia/Request/
.insomnia/UnitTestSuite/

/node_modules
yarn.lock
package-lock.json

### kubernetes ###
kubernetes-manifests/
